DJANGO_SECRET_KEY=weei8d1%@e@jc@2hbgjky!7nlp2c@o_@(n)x&yijh_iqb6a!pr
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=soul
POSTGRES_USER=soul_user
POSTGRES_PASSWORD=replace-with-a-strong-password
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0