DJANGO_SECRET_KEY=replace-this-with-a-long-random-value
DEBUG=False

ALLOWED_HOSTS=localhost,127.0.0.1,192.168.0.10

POSTGRES_DB=soul
POSTGRES_USER=soul_user
POSTGRES_PASSWORD=replace-with-a-strong-password
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0

VAPID_PUBLIC_KEY=ваш_публичный_ключ
VAPID_PRIVATE_KEY=ваш_приватный_ключ
VAPID_ADMIN_EMAIL=mailto:admin@soulcouple.ru

EMAIL_HOST_USER=ваш_gmail@gmail.com
EMAIL_HOST_PASSWORD=пароль_приложения_gmail
SITE_URL=https://ваш_URL_сайта