{% extends "accounts/base.html" %}


{% block title %}
    Вход
{% endblock title %}


{% block body %}
    <div class="auth-page">
        <section class="auth-card">
            <div class="auth-card-header">
                <h1>
                    Вход
                </h1>

                <p>
                    Войдите в свой аккаунт Soul.
                </p>
            </div>


            <form
                method="post"
                class="auth-form"
            >
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="form-error">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {% for field in form %}
                    <div class="auth-field">
                        {{ field.label_tag }}

                        {{ field }}

                        {% if field.help_text %}
                            <small class="form-help">
                                {{ field.help_text }}
                            </small>
                        {% endif %}

                        {% for error in field.errors %}
                            <p class="field-error">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </div>
                {% endfor %}

                <button
                    type="submit"
                    class="button auth-submit"
                >
                    Войти
                </button>
            </form>


            <div class="auth-divider">
                <span>
                    Нет аккаунта?
                </span>
            </div>


            <a
                href="{% url 'accounts:register' %}"
                class="button button-secondary auth-register"
            >
                Зарегистрироваться
            </a>
        </section>
    </div>
{% endblock body %}