{% extends "accounts/base.html" %}

{% block title %}
    Пароль изменён
{% endblock title %}

{% block body %}
    <div class="auth-page">
        <section class="auth-card">
            <div class="auth-card-header">
                <h1>
                    Пароль изменён
                </h1>

                <p>
                    Новый пароль успешно сохранён.
                </p>

                <p>
                    Теперь вы можете войти в аккаунт
                    с новым паролем.
                </p>
            </div>

            <a
                href="{% url 'accounts:login' %}"
                class="button auth-submit"
            >
                Перейти ко входу
            </a>
        </section>
    </div>
{% endblock body %}