{% extends "accounts/base.html" %}

{% block title %}
    Проверьте почту
{% endblock title %}

{% block body %}
    <div class="auth-page">
        <section class="auth-card">
            <div class="auth-card-header">
                <h1>
                    Проверьте почту
                </h1>

                <p>
                    Если аккаунт с таким email существует,
                    мы отправили ссылку для восстановления пароля.
                </p>

                <p>
                    Проверьте также папку «Спам».
                </p>
            </div>

            <p class="auth-footer">
                <a
                    href="{% url 'accounts:login' %}"
                >
                    Вернуться ко входу
                </a>
            </p>
        </section>
    </div>
{% endblock body %}